{% extends 'base.html' %}

{% block 'title' %} Dashboard | {{ user }} | {% endblock %}

{% block 'content' %}
<h2 class="mt-1 mb-4">Hi {{ user.first_name }} {{ user.last_name }}</h2>
{% include 'partials\_messages.html' %}
<p>
   User info:<br>
    Your username is <b>{{ user }}</b><br>
    Your email is <b>{{ user.email }}</b>
</p>

<div class="container">
    <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}